
<div *ngIf="changed">
  content has changed.
  <button (click)="onReloadTodos()">Reload Todos</button>
</div>
<todo-edit *ngIf="todo" [todo]="selectedTodo"></todo-edit>
<div class='parent'>
  <div class="wrapper">
    <div [dragula]='"first-bag"' class='container' [dragulaModel]='todos'>
      <div *ngFor="let todo of todos" >
        <todo-detail [todo]="todo" (click)="onSelect(todo)"></todo-detail>
      </div>
    </div>
    <div [dragula]='"first-bag"' class='container' [dragulaModel]='todos_done'>
    </div>
  </div>
<button (click)="onNewTodo()">New Todo</button>
