html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

/*span.active {
  background-color: gray;
}
*/
.wrapper {
  display: table;
}

/*.container todo-detail {
  display: table-cell;
  width: 100%;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}*/

.container {
    display: table-cell;
    background-color: rgba(151, 166, 220, 0.2);
    width: 50%;
}

.container:nth-child(2n+1) {
    background-color: rgba(0, 0, 0, 0.2);
}

.wrapper {
    display: table;
}

.container div, .gu-mirror {
    margin: 5px;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s ease-in-out;
}

.parent {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 50px 0;
    padding: 20px;
}


.gu-mirror {
	position:fixed!important;
	margin:0!important;
	z-index:9999!important;
	opacity:.8;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter:alpha(opacity=80)
}
.gu-hide {
	display:none!important
}
.gu-unselectable {
	-webkit-user-select:none!important;
	-moz-user-select:none!important;
	-ms-user-select:none!important;
	user-select:none!important
}
.gu-transit {
	opacity:.2;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter:alpha(opacity=20)
}
